<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }

    h1 {
        color: red;
    }



</style>
</head>

<body>
    <h1>Weather Stats!</h1>
    <br>
    <form method="POST">
        <label>Enter Location Coordinates</label>
        <br>
        <br>
        <input placeholder="Latitude" name="latitude">
        <input placeholder="Longitude" name="longitude">
        <input type="button">
    </form>
    {% if weather %}
    <center>
        <table>
            <tr><td colspan = "2"><img src="{{ weather.data.condition.icon }}"></img></td></tr>
            <tr><td>Place</td><td>{{ weather.data.condition.icon }}</td></tr>
            <tr><td>Religon</td><td>{{ weather.data.condition.icon }}</td></tr>
            <tr><td>Country</td><td>{{ weather.data.condition.icon }}</td></tr>
            <tr><td>Condition</td><td>{{ weather.data.condition.icon }}</td></tr>
            <tr><td>Temprature</td><td>{{ weather.data.condition.icon }}</td></tr>
        </table>
    </center>
    {% endif %}
    <p>You have {{ count }} Visitors</p>
</body>
</html>
